.scrollbar::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired */
  height: 5px; /* Adjust the height for horizontal scrollbars */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(139 92 246); /* Adjust color and opacity */
  border-radius: 5px; /* Optional for rounded corners */
}
